.body{
  font-family: 'Roboto', sans-serif;
}
.navbar{
  padding-top: 0px;
  padding-bottom: 0%;
  color: white !important;
}
.nav-link{
  color: white !important;
}
.container-fluid{
  background-color: green;
}
.row{
  padding-top: 2rem;
  padding-bottom: 45px;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-right: 0px ;
}
.card-title{
  font-size: 2em;
  color:#707070;
  font-weight: 300;
}
.card-text{
  font-size: 1em;
    color:#707070;
    font-weight: 300;
  }
.card-footer{
  letter-spacing: normal;
  text-align: right;
  background-color: transparent;
}
  .card-footer p{
    display:inline-block ;
}
.card-footer span{
  font-size: 1.5em;
}
.texto-footer{
  font-size: 1.1em;
  text-align: center;
  font-weight: 300;
  color: #707070;
}
.Datos{
  background-color: green;
}
.form-control{
  margin-bottom: 5px;
}